*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-color: #9BCAD5;
}

.wrapper {
  background-color: #353535;
  width: 448px;
  min-width: 448px;
  max-width: 960px;
  border-radius: 23px;
  resize: horizontal;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 14px 0 5px 0 ;
  overflow-x: hidden;
}

.dock {
  overflow-x: auto;
  display: flex;
  column-gap: 15px;
  padding: 0 14px;
}

.dock::-webkit-scrollbar {
  height: 4px;
}

.dock::-webkit-scrollbar-track-piece{
	background-color: transparent;
}

.dock::-webkit-scrollbar-thumb{
	background-color: #606060;
  border-radius: 5px;
	outline-offset: -2px;
	border: .1px solid #606060;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  background-color: #000;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  animation: scale, scale, zoom;
  animation-direction: normal, reverse, normal;
  animation-timeline: view(inline 0.6%);
  animation-range: entry, exit, 15%;
  animation-timing-function: ease-in-out;
  z-index: 10;
  box-shadow: 0px -2px 0px 0px rgba(255, 255, 255, 0.71);
}


@keyframes scale { 0% { scale: 0; } }
@keyframes zoom {50% { scale: 1.15;} }